{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
   

    <form action = "{% url 'edit'%}" method = "post"> 
        {% csrf_token %}
            <h2>Editing {{title}}</h2>  
            <input type = "hidden" value = "{{title}}" name = "title">
            <textarea name="entry" >
                {{content|safe}}
            </textarea>
            <br> 
            <input type = "submit" value = "Submit Edit" > 
    </form> 
{% endblock %} 